@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
	
	padding:0;
	margin:0;
	box-sizing:border-box;
	scroll-behavior:smooth;
}
section{
	
	padding:30px 0;
}
header{
	padding:0 3%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	background-image:linear-gradient(rgba(0,0,0,0.4));
}
/*search*/
.food-search input[type="search"]{
	width:45%;
	padding:0.5%;
	font-size:1rem;
}
/*food menu*/
.foodie{
	align-items:center;
	justify-content:center;
}
	.food-menu{
		border:1px solid black;
		width:45%;
		float:left;
		padding:1%;
		margin:1%;
	}

.logoimg{
	
	with:40%;
	height:50%;
}
a{
	text-decoration:none;
}
.f-letter{
	font-size:45px;
}
h1{
	font-size:40px;
	font-family:dancing script;
	color:red;
	letter-spacing:2px;
	text-shadow:2px 2px 2px black;
}
.sel{
	
	justify-content:center;
	text-align:center;
	align-items:center;
	padding:0;
}
.sel img{
	
	width:100%;
}
.starter{
	padding:140% 0 0 0;
}
.maincourse{
	padding:10% 0 0 0;
}
.desert{
	padding:10% 0 0 0;
	width:100%;
	margin:0;
}
.container{ 
	width:100%;
	margin:0;
	justify-content:center;
	text-align:center;
	align-items:center;
}
.nav{
	
	height:112px;
	display:flex;
	align-items:center;
	justify-content:center;
	
}
.menu{
	
	color:blue;
	font-size:34px;
	cursor:pointer;
	position:absolute;
	right:25px;
	top:50%;
	z-index:1500;
}
.fa-times{
	
	display:none;
}
.lists{
	
	list-style:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:90%;
	background-color:black;
	color:red;
	padding:40px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	transform:translate(-100%);
}
.open .fa-times{
	
	display:block;
}
.open .fa-bars{
	
	display:none;
}
.open .lists{
	
	transform:translateX(0);
}
.open .nav::before{
	
	opacity:1;
	transform:scale(1);
}
.nav-list{
	
	border-bottom:2px solid white;
	text-align:center;
}
.nav-link{
	
	display:block;
	color:white;
	font-size:20px;
	text-transform:uppercase;
}
.nav-link:hover::first-letter{
	
	color: red;
	font-size:30px;
	font-family: dancing script;
	font-weight:bold;
}
/*section .midd*/
.midd{
	
	width:100%;
	height:80%;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
}

header{
	width:100%;
}
h2{
	
	font-size:40px;
	font-family:dancing script;
	color:black;
}
h1{
	
	font-size:25px;
	margin-top:-5px;
}
.first-letter{
	
	font-size:45px;
}
.emj{
	
	display:flex;
	align-items:center;
	justify-content:center;
}
.left,.right{
	
	width:30px;
	color:black;
	position:relative;
}
.fa-pepper-hot{
	
	color:red;
}
.fa-bars{
	
	color:red;
}
.fa-times{
	
	color:red;
}
/*footer*/
footer{
	background-color: black;
	color:#fffff;
	text-align:center;
	position:relative;
	height:70%;
}
.totop{
	
	background-color: black;
	width:46px;
	height:40px;
	position:relative;
	top:-22px;
	left:50%;
	transform:translateX(-50%);
	border-radius:50%;
}
.totop i{
	
	color:white;
	font-size:18px;
	padding:3px;
}
h4{
	text-transform:uppercase;
	color:white;
}
.nets ul{
	display:flex;
	letter-spacing:14px;
	list-style:none;
	justify-content:center;
}
.title{
	
	color:white;
}
footer p, a{
	
	color:white;
	border-radius:50%;
}
.newsbtn{
	
	background-color:black;
	border:none;
	color:white;
	cursor:pointer;
}
.f-letter{
	
	font-size:45px;
}
@media screen and (min-width:900px){
	
	
	/*menu header*/
	.menu{
		
		display:none;
	}
	.nav{
		
		justify-content:space-between;
		padding:0;
		transform:none;
	}
	.lists{
		
		position:initial;
		width:initial;
		height:initial;
		color:black;
		background-color:white;
		padding:0;
		justify-content:initial;
		flex-direction:row;
		transform:initial;
		
	}
	.nav-list{
		
		margin:0 12px;
		border:initial;
		background-color:transparent;
	}
	.nav-list:last-child{
		
		margin-right:0;
	}
	
	.nav-link{
		
		color:black;
		background-color:transparent;
	}
	.sel img{
		
		width:300px;
	}
	.starter{
	padding:110% 0 0 0;
}
}	



